<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Task</title>
    <style>
         div{
            border: 3px solid rgb(62, 199, 202);
            width: 500px;
            height: 450px;
            margin-top: 40px;
        }
        input{
         font-size: 18px;
        }
        button{
            width: 25%;
            height: 30px;
            margin-top: 12px;
            font-size: 15px;
            background-color: rgb(122, 227, 225);
            border-color: rgb(122, 227, 225) ;
        }
    </style>
</head>
<body>
   <center><div>
    <h1>Add Task</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Add Task</button>
    </form>
   </center></div>
</body>
</html>
